$white: #FFFFFF;
$black: #000000;
$gray: #d4d4d4;
$overlay-color: #2c2d33;
$green: #72cc96;

$red: #ee5f5b;
$blue: #19B5FE;
$yellow: #f89406;
$aqua: #7FDBFF;

$base-font: "weblysleek_uilight", sans-serif;
$lato-font: "LatoWeb";
$lato-font-thin: "LatoWebLight";
$code-font: "SourceCodeMedium";

// break point
$small: 750px;
$large: 940px;
$x_small: 640px;
$height_break: 605px;