<!--

{% if page.previous or page.next %}
<nav class="pagination">
  {% if page.previous %}
  <a href="{{ site.url }}{{ page.previous.url }}" class="pagination_pager" title="{{ page.previous.title | markdownify | strip_html }}">previous</a>
  {% else %}
  <a href="#" class="pagination_pager disabled">previous</a>
  {% endif %}
  {% if page.next %}
  <a href="{{ site.url }}{{ page.next.url }}" class="pagination_pager" title="{{ page.next.title | markdownify | strip_html }}">next</a>
  {% else %}
  <a href="#" class="pagination_pager disabled">next</a>
  {% endif %}
</nav>
{% endif %}

-->

<!-- Custom style -->

<div class="post-links">
    {% if page.next.url %}
      <a class="link-to-post" href="{{ page.next.url | relative_url}}">
        <span class="link-to-post__next">&#10535; &nbsp;Read Next</span>
        <span class="link-to-post__title">{{ page.next.title }}</span>
      </a>

    {% elsif page.previous.url %}
      <a class="link-to-post" href="{{ page.previous.url | relative_url}}">
        <span class="link-to-post__prev">&#10535; &nbsp;Read Next</span>
        <span class="link-to-post__title">{{ page.previous.title }}</span>
      </a>
    {% endif %}
  </div>