<!--

{% if page.previous or page.next %}
<nav class="pagination">
  {% if page.previous %}
  <a href="{{ site.url }}{{ page.previous.url }}" class="pagination_pager" title="{{ page.previous.title | markdownify | strip_html }}">previous</a>
  {% else %}
  <a href="#" class="pagination_pager disabled">previous</a>
  {% endif %}
  {% if page.next %}
  <a href="{{ site.url }}{{ page.next.url }}" class="pagination_pager" title="{{ page.next.title | markdownify | strip_html }}">next</a>
  {% else %}
  <a href="#" class="pagination_pager disabled">next</a>
  {% endif %}
</nav>
{% endif %}

-->

<div class="post-links">
  <p class="read-next">Read Next<p>
  <ul>
    {% if page.next.url %}
    <li><a href="{{ page.next.url | relative_url}}">{{page.next.title}}</a></li>
    {% endif %}
    {% if page.previous.url %}
    <li><a href="{{ page.previous.url | relative_url}}">{{page.previous.title}}</a></li>
    {% endif %}
  </ul>
</div>