{% if page.share != false %}
  <a href="https://twitter.com/intent/tweet?text=Great read!%0a{{ site.url }}{{ page.url }}" class="btn btn_twitter btn_small" title="Share on Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i><span> Tweet</span></a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="btn btn_facebook btn_small" title="Share on Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>
  <!--a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="btn btn_google-plus" title="Share on Google Plus"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i><span> Google+</span></a-->
{% endif %}
